{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap_icons %}
<!-- Incluyendo ficheros estaticos para usar el ckeditor e inyectar este codigo en cada una de las vistas con el submenu-->

{% block content %}
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
      >
        <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
          
          <span class="fs-4 d-none d-sm-inline">Menu</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link align-middle px-0">
              {% bs_icon 'house' size='1.5em' %}
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a
              href="#submenu1"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              {% bs_icon 'tag' size='1.5em' %}
              <span class="ms-1 d-none d-sm-inline">Categorias</span>
            </a>
            <ul
              class="collapse show nav flex-column ms-1"
              id="submenu1"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <img src="/media/icons/dog.svg" alt="Bootstrap" width="28" height="28">
                  <span class="d-none d-sm-inline">Perros</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <img src="/media/icons/cat.svg" alt="Bootstrap" width="28" height="28">
                  <span class="d-none d-sm-inline">Gatos</span>
                </a>
              </li>
            </ul>
          </li>
          
          
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">{% block product_list %}{% endblock %}</div>
  </div>
</div>
{% endblock %}
